<web-app>
	<servlet>
		<servlet-name>ServletEx</servlet-name>
		<servlet-class>global.controller.Test</servlet-class>		
	</servlet>
		
	<servlet-mapping>
		<servlet-name>ServletEx</servlet-name>
		<url-pattern>/firstServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletEJB_SBEx</servlet-name>
		<servlet-class>global.controller.TestEJBS</servlet-class>		
	</servlet>
		
	<servlet-mapping>
		<servlet-name>ServletEJB_SBEx</servlet-name>
		<url-pattern>/global/ui/ejbSessionB</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ServletEJB_EBEx</servlet-name>
		<servlet-class>global.controller.TestEJBE</servlet-class>		
	</servlet>
		
	<servlet-mapping>
		<servlet-name>ServletEJB_EBEx</servlet-name>
		<url-pattern>/global/ui/ejbEntityB</url-pattern>
	</servlet-mapping>
		
</web-app> 
